.navbar{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    
}

.auth{
    display: flex;
}

.logo{
    cursor: pointer;
}

.nav-element{
    margin:10px;
    cursor: pointer;
}